# General / App Config
ADMIN_EMAILS=""
CRON_SECRET=""
RESEND_FROM_EMAIL=""
REVALIDATE_SECRET=""
SITE_URL=""

# Next.js Public Config
NEXT_PUBLIC_SITE_NAME=""
NEXT_PUBLIC_SITE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_URL=""

# Supabase Config
SUPABASE_ACCESS_TOKEN=""
SUPABASE_SERVICE_ROLE_KEY=""

# Upstash Redis
UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_REDIS_REST_URL=""

# Jeko API
JEKO_API_BASE_URL=""
JEKO_API_KEY=""
JEKO_API_KEY_ID=""
JEKO_STORE_ID=""
JEKO_WEBHOOK_SECRET=""
